apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "agile-app.fullname" . }}-backend
  labels:
    {{- include "agile-app.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.backend.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "agile-app.fullname" . }}-backend
  template:
    metadata:
      labels:
        app: {{ include "agile-app.fullname" . }}-backend
    spec:
      containers:
        - name: backend
          image: "{{ .Values.backend.image.repository }}:{{ .Values.backend.image.tag }}"
          imagePullPolicy: {{ .Values.backend.image.pullPolicy }}
          ports:
            - containerPort: 3001
          env:
            {{- range $key, $value := .Values.backend.env }}
            - name: {{ $key }}
              value: "{{ $value }}"
            {{- end }}
          resources:
            {{- toYaml .Values.backend.resources | nindent 12 }} 